<style>
  .container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .button-reset {
    background: linear-gradient(#905159, #590239);
    color: white;
    height: 3rem;
    width: 100%;
  }
</style>

<div class="container">
  <header>
    <h1>Redefina sua senha do BTC-Project</h1>
  </header>
  <main>
    <span>
      Soubemos que você perdeu sua senha do BTC-Project. Desculpe por isso!
    </span>
    <br>
    <span>
      Mas não se preocupe! Você pode usar o seguinte botão para redefinir sua senha:
    </span>
    <br>
    <a class="button-reset" href="{{link}}/{{token}}">
      Redefina sua senha
    </a>
    <br>
    <strong>Se você não usar este link em 3 horas, ele irá expirar.</strong>
  </main>
  <footer>
    <h3>
      Obrigado,
      A equipe BTC-Project
    </h3>
  </footer>
</div>